{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "no-undef": "off",
    "no-console": "off",
    "react/button-has-type": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "max-len": "off"
  }
}
